.contCard {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 23rem;
  max-height: 23rem;
  width: 16rem;
  justify-content: space-evenly;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  min-width: 250px;
  margin: 0.5rem;
}

.contCard .img {
  max-width: 50%;
}

.name {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 1.7em;
  color: #66625c;
}

.types {
  display: flex;
  justify-content: center;
  gap: 10%;
  font-family: "Rubik", sans-serif;
  font-size: 1em;
}

.types div {
  color: #fff;
  display: flex;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  height: 2rem;
  border-radius: 20px;
}

.contCard:hover {
  transform: scale(1.03);
}

@media screen and (max-width: 600px) {
  .contCard {
    width: 200px;
    height: 300px;
    margin-bottom: 20px;
  }
}
