ul {
  margin: 0;
  padding: 0;
}

.cardCreate {
  background-color: #fff;
  width: 700px;
  min-height: 420px;
  border-radius: 50px;
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.contGral {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.ash {
  height: 570px;
  position: absolute;
  right: -110px;
}

.redTitle {
  background-color: #eb544d;
  width: 100%;
  height: 60px;
  display: flex;
  border-radius: 50px 50px 0px 0px;
  align-items: center;
  gap: 1rem;
}

.title {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.poke {
  height: 30px;
  margin-left: 30px;
}

.izq {
  display: flex;
  flex-direction: column;
  padding-inline: 40px;
  gap: 1.3rem;
}

.der {
  display: flex;
  flex-direction: column;
  padding-inline: 40px;
  gap: 1.3rem;
}

.form {
  padding-top: 20px;
  display: flex;
  font-family: "Rubik", sans-serif;
  font-weight: 200;
  font-size: 15px;
}

.inputs {
  margin-top: 5px;
  padding-left: 15px;
  height: 30px;
  width: 200px;
  border-radius: 20px;
  border: none;
  background-color: #f8f7f7;
}

.inputs:focus {
  outline: none;
}

.select {
  margin-top: 5px;
  padding-left: 15px;
  height: 30px;
  width: 200px;
  border-radius: 20px;
  border: none;
  background-color: #f8f7f7;
  font-family: "Rubik", sans-serif;
}

.select:focus {
  outline: none;
}
.options {
  background-color: #f8f7f7;
  font-family: "Rubik", sans-serif;
}

.deleteButton {
  border-radius: 10px;
  border: none;
  background-color: #eb544d;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
}

.types {
  display: flex;
  list-style: none;
  gap: 0.8rem;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}

.button {
  height: 30px;
  width: 100px;
  border-radius: 8px;
  background-color: #eb544d;
  color: #fff;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  border: none;
  margin-top: 5px;
}

.button:disabled {
  background-color: #f8f7f7;
  color: #cfcfcf;
  border: none;
  margin-top: 5px;
  cursor: default;
}

.error {
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  color: #eb544d;
}

.navBar {
  background-color: #eb544d;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.buttonHome {
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  border: none;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-weight: 500;
}
