.pokeball {
  height: 200px;
}

.poke {
  display: flex;
  justify-content: center;
  align-items: center;
}

.barra {
  background-color: #e9e8e7;
  height: 20px;
  width: 200px;
  border-radius: 20px;
}

.barraPintada {
  height: 100%;
  background-color: #ffcd02;
  max-width: 100%;
  border-radius: 20px 0px 0px 20px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.filaStat {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #868686;
}

.number {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #66625c;
}

.contGral {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contRed {
  display: flex;
  background-color: #eb544d;
  width: 900px;
  padding-left: 30px;
  padding-right: 30px;
  height: 500px;
  border-radius: 50px;
}

.contIzq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  width: 440px;
  height: 470px;
  margin: 15px;
  border-radius: 50px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.infoBasica {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.contDer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  width: 440px;
  height: 470px;
  margin: 15px;
  border-radius: 50px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.image {
  min-height: 250px;
  max-width: 250px;
  position: absolute;
}

.circulo {
  background-color: rgba(217, 217, 217, 0.582);
  height: 250px;
  width: 250px;
  position: relative;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: #66625c;
}

.types {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
}

.types div {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 25px;
  border-radius: 20px;
}

.id {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #66625c;
  max-width: 50%;
  text-align: center;
}

.alturaPeso {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}

.medidas {
  background-color: rgba(217, 217, 217, 0.582);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #66625c;
  gap: 10px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #fff;
  background-color: #ffcd02;
  height: 40px;
  width: 100px;
  border-radius: 10px;
}

.navBar {
  background-color: #eb544d;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.buttonHome {
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  border: none;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-weight: 500;
}
