.background {
  /* background-image: url(./Images/back.jpg); */
  background-color: #fff;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
}

.contIzq {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  gap: 15%;
  width: 49%;
}

.contTitle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contDer {
  display: flex;
  align-items: center;
  background-color: #eb544d;
  border-radius: 400px 0px 0px 400px;
  box-shadow: 0px 0px 3px 9px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 250px;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.4));
}

.charizardImg {
  width: 650px;
  height: 600px;
  filter: drop-shadow(0px 3px 4px rgba(141, 0, 0, 10));
}

.title {
  font-size: 60px;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  color: #66625c;
}

.button {
  font-family: "Rubik", sans-serif;
  color: rgb(255, 255, 255);
  background-color: #eb544d;
  font-weight: 700;
  height: 40px;
  width: 120px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}
.button:hover {
  color: rgb(255, 255, 255);
  background-color: #e93228;
  border: none;
}
.parrafo {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

.linkedin {
  height: 20px;
  background-color: #868686;
  border-radius: 100%;
  padding: 8px;
}

.linkedin:hover {
  background-color: #66625c;
}

.github {
  height: 20px;
  background-color: #868686;
  border-radius: 100%;
  padding: 8px;
  margin-left: 10px;
}

.github:hover {
  background-color: #66625c;
}
