.contCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.pageNumbers {
    list-style: none;
    display: flex;
}

.pageNumbers li {
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
}