.contCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pageNumbers {
  list-style: none;
  display: flex;
  justify-content: center;
  color: #66625c;
  padding: 20px;
}

.pageNumbers li {
  /* padding: 10px; */
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageNumbers li.active {
  background-color: #eb544d;
  color: white;
  font-weight: 500;
}

.pageNumbers li button {
  background-color: transparent;
  border: none;
  color: #66625c;
  font-size: 1rem;
  cursor: pointer;
  /* border: 1px solid black; */
  display: flex;
  padding: 5px;
  border-radius: 50%;
}

.pageNumbers li button:hover {
  color: white;
  background-color: #fff;
}

.pageNumbers li button:focus {
  outline: none;
}

.pokeball {
  height: 200px;
}
